@import "styles/variables.scss";
@import "styles/mixins.scss";
@import "../../../components/commonTable/index.scss";
@import "../../../components/pageHeader/index.scss";

.notification {
    @include flexbox;
    font-family: $monstserrat_semibold;
    font-size: $font_medium;
    line-height: 1.41;
    color: $dark_shadow;
    width: 10%;
    
    &__width {
        width: 188px !important;
    }

    &__btn {
        position: relative;
    }
}
