@import "../../../../../../styles/variables.scss";
@import "../../../../../../styles/mixins.scss";
@import "../../../../../components/pageHeader/index.scss";
@import "../../../../../components/commonTable/index.scss";

.contact-us {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}
