@import "../../../../../styles/variables.scss";
@import "../../../../../styles/mixins.scss";

.loginmodal {
  position: fixed;
  background-color: $dark_shadow3;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;

  &__dialog {
    background-color: #f3f7f9;
    box-shadow: 0 4px 16px 0 $dark_shadow3;
    width: 25%;
    padding: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    color: white;
    min-height: 23rem;
    height: 32rem;
    &__center-div {
      position: absolute;
      top: 35%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 80%;
    }

    &__button {
      width: 16.4rem;
      padding: 1rem;
      border: none;
      color: $color-white-primary;
      position: absolute;
      transform: translate(32%, 20%);
      &--cancel {
        background: $color-white-primary;
        padding: $font_medium;
        color: black;
        margin: 10px 0px;
        font-family: $monstserrat_regular;
        padding: 10px;
        // margin: 1rem 0;
        font-size: 14px;
        border-radius: 13px;
        border: 1px solid $alto;
      }
      //   &--cancel:active {
      //     box-shadow: inset -6px -6px 6px 0 $dark6,
      //       inset 6px 6px 8px 0 $dark_shadow10, inset 6px 6px 8px 0 $dark_shadow10,
      //       inset -6px -6px 6px 0 $dark6;
      //     border-style: solid;
      //     border-width: 1px;
      //     border-image-source: linear-gradient(119deg, $shadow2 0%, $shadow3 98%);
      //     border-image-slice: 1;
      //     background: linear-gradient(to bottom, $dark2, $dark2),
      //       linear-gradient(119deg, $shadow2 0%, $shadow3 98%);
      //     background-origin: border-box;
      //     background-clip: content-box, border-box;
      //   }
    }

    &__button:focus {
      outline: none;
    }

    // &__content {
    //   padding: 0rem 0 4rem 0;
    //   color: $primary_blue;
    // }

    &__footer {
      justify-content: space-evenly;
      min-height: 66px;
      &__login-title {
        color: $dark2;
      }
      &__description {
        font-family: $monstserrat_regular;
        font-size: 2rem;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.57;
        letter-spacing: normal;
        text-align: center;
        padding-top: 20px;
        color: $primary_blue;
      }
    }
  }
}
