@import "../../../../../styles/variables.scss";
@import "../../../../../styles/mixins.scss";

.blog-tabs {
  display: flex;
  width: 100%;
  position: relative;
}
.tabs {
  padding: 15px;
  text-align: center;
  width: 50%;
  background: rgba(90, 69, 69, 0.075);
  cursor: pointer;
  box-sizing: content-box;
  position: relative;
  outline: none;
  font-size: 15px;
}
.tabs:not(:last-child) {
  width: 50%;
}

.tabs:not(:first-child) {
  width: 50%;
}

.active-tabs {
  background: white;
  color: #0d6efd;
  border-bottom: 1px solid rgba(0, 46, 145, 0.274);
  color: rgb(10, 100, 173);
  font-size: 15px;
}

.active-tabs::before {
  display: block;
  position: relative;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% + 2px);
  height: 5px;
  background: rgb(8, 79, 185);
}

button {
  border: none;
}
.content-tabs {
  flex-grow: 1;
}
.content {
  background: white;
  padding: 20px;
  width: 100%;
  height: 100%;
  display: none;
}
.content-h1 {
  text-align: center;
}
.content h2 {
  padding: 0px 0 5px 0px;
}
.content hr {
  width: 100px;
  height: 2px;
  background: #222;
  margin-bottom: 5px;
}

.active-content {
  display: block;
  position: relative;
  width: 100%;
  align-items: center;
}

@media screen and (min-width: 900px) and (max-width: 1120px) {
  .blog-tabs {
    transform: translate(150%, 2rem);
  }
  .active-content {
    transform: translate(200%, 8rem);
    width: 30%;
    padding: 0;
  }
}

@media screen and (min-width: 760px) and (max-width: 900px) {
  .content {
    padding: 0;
  }
}

@media screen and (min-width: 320px) and (max-width: 760px) {
  .blog-tabs {
    position: relative;
    padding-top: 1rem;
    transform: translate(0, 0);
    width: 100%;
  }
  .active-content {
    position: relative;
    transform: translate(0, 0);
    width: 100%;
  }
  .tabs:not(:first-child) {
    width: 50%;
  }
  .tabs:not(:last-child) {
    width: 50%;
  }
}
