@import "../../../../../styles/mixins.scss";
@import "../../../../../styles//variables.scss";

.main1 {
  position: relative;
}

.posts {
  @include relativeflex;
  background-size: cover;
  padding: $font_xverysmall;
  &__image {
    height: 60%;
    width: 40%;
    // padding-left: $font_verysmall;
  }
  &__maincontent{
    width : 60% ;
  }
  &__title {
    font-size: medium;
    text-align: center;
    @include textnone;
    padding-left: $font_large;
  }
  &__link {
    @include textnone;
    font-size: $font_button;
  }
  &__content {
    text-align: center;
    padding-left: $font_verysmall;
    font-size: $font_button;
    font-family: $monstserrat_regular;
  }

  &__ul {
    font-family: $monstserrat_regular;
    @include flexbetween;
    @include listnone;
  }

  &__content p {
    font-size: $font_button;
  }
  &__content h4 {
    font-size: $font_large;
  }
}

@media screen and (min-width: 760px) and (max-width: 1024px) {
  .posts {
    padding: 0;
    &__ul {
      padding: 0;
      font-size: $font_xxsmall;
    }
    &__image {
      padding-left: 0;
    }
    &__title {
      padding-left: $font_xverysmall;
      font-size: $font_verysmall;
    }
    &__content {
      h4 {
        font-size: $font_small;
      }
      p {
        font-size: $font_verysmall;
      }
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 760px) {
  .posts {
    padding: $font_verysmall 0;
    &__lead2 {
      font-size: $font_small;
    }
    &__image {
      padding: 0;
      padding-top: $font_large;
    }
    &__ul {
      padding: 0;
      font-size: $font_small;
    }
    &__title {
      padding: 0;
    }
  }
}