@import "../../../../../styles/mixins.scss";
@import "../../../../../styles//variables.scss";

.main1 {
  position: relative;
}

.posts {
  position: relative;
  width: 100%;
  // height: 14em;
  background-size: cover;
  padding: 5px;
  display: flex;
  flex-direction: row;
  border-radius: 20px;
  &__image {
    height: 60%;
    width: 40%;
    padding-left: 10px;
  }
  &__maincontent{
    width : 60% ;
  }
  &__title {
    font-size: medium;
    text-align: center;
    padding: 0px 0 0 20px;
    text-decoration: none;
  }
  &__link {
    text-decoration: none;
  }
  &__content {
    text-align: center;
    margin-top: 1px;
    padding-left: 10px;
    font-size: 1.5rem;
    font-family: $monstserrat_regular;
  }

  &__ul {
    font-family: $monstserrat_regular;
    // padding-top: 10px;
    display: flex;
    justify-content: space-between;
    // margin-top: 2.4rem;
    list-style: none;
  }

 
  // .profile-img {
  //   border-radius: 50%;
  // }
  &__content p {
    font-size: medium;
  }
  &__content h4 {
    font-size: large;
  }
}

@media screen and (min-width: 900px) and (max-width: 1120px) {
  .posts {
    position: relative;
    display: flex;
    width: 100%;
    height: 16rem;
    &__image {
      padding: 0;
      height: 12rem;
      width: 40%;
    }
    &__ul {
      margin: 0;
      padding: 0;
    }
  }
}

@media screen and (min-width: 760px) and (max-width: 900px) {
  .posts {
    padding: 0;
    height: 16rem;
    &__ul {
      padding: 0;
    }
    &__image {
      padding-left: 0;
    }
    &__title {
      padding-left: 0.5rem;
      font-size: 9px;
    }
    &__content {
      h4 {
        font-size: 11px;
      }
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 760px) {
  .posts {
    &__lead2 {
      font-size: medium;
    }
    &__ul {
      padding-left: 0;
      font-size: 12px;
    }
  }
}