@import "../../../../../styles/mixins.scss";
@import "../../../../../styles//variables.scss";

.read-more1:hover {
    color: rgb(54, 75, 196);
    cursor: pointer;
}
.view-post:hover {
    color: rgb(54, 75, 196);
    cursor: pointer;
    h1{
    font-size: $font_button !important;
    }
}