@import "../../../../../styles/mixins.scss";
@import "../../../../../styles//variables.scss";

.card-container {
  padding: $font_large 0;
}
.card {
  @include relativeblock;
  max-width: 100%;
  @include allcenter;
  justify-content: space-around;
  background-size: cover;
  margin-top: $font_button;
  padding: $font_xxlarge;
  border-radius: $font_large;
  box-shadow: 0 0px 4px 0 rgba(0, 0, 0, 10%);
  background-color: $color_white6;
  &__title {
    font-size: $font_large;
    float: center;
    text-align: center;
    text-decoration: none !important;
    cursor: pointer !important;
  }
  &__content{
    display: flex;
  }
  &__image {
    width: 35%;
    height: 200px;
  }
  &__ul1 {
    font-family: $monstserrat_regular;
    padding-top: $font_large;
    @include flexbetween;
    font-size: $font_large;
    @include listnone;
  }
}
.read-more {
  text-align: left;
  font-size: $font_xlarge;
  padding-left: $font_button
}


@media screen and (min-width: 320px) and (max-width: 760px) {
  .card-container {
    padding: 0;
  }
  .card {
    width: 100%;
    transform: translate(0, 0);
    position: relative;
    display: block;
    margin-left: 0;
    padding: $font_large$font_verysmall;
    @include allcenter;
    h1{
      font-size: $font_xlarge;
    }
    &__image {
      width: 40%;
      height: 150px;
    }
    &__content {
      padding: 0;
      font-size: $font_small;
    }
    &__ul1 {
      font-family: "Montserrat Regular";
      @include flexbetween;
      font-size: $font_small;
      padding-left: 0;
      margin-left: 0;
      @include listnone;
    }
    &__title {
      @include textnone;
      font-size: $font_button;
    }
  }
.read-more{
  font-size: $font_xsmall;
  padding-left: $font_xverysmall;
}
}

@media screen and (min-width: 768px) and (max-width: 1020px) {
  .card-container {
    padding: 0;
  }
  .card {
    position: relative;
    display: block;
    @include allcenter;
    margin-left: 0;
    padding: $font_large $font_verysmall;
    h1 {
      font-size: $font_large;
    }
    &__title {
      @include textnone;
      padding: 0;
      font-size: $font_button;
    }
    &__content {
      padding: 0;
      font-size: $font_small;
    }
    &__image{
      width: 40%;
      max-height: 150px;
    }
    &__ul1 {
      font-family: "Montserrat Regular";
      font-size: $font_small;
      display: flex;
      padding: 0 $font_xxlarge 0 $font_xxlarge;
      @include listnone;
    }
  }
  .read-more{
    font-size: $font_medium;
    padding-left: $font_xxsmall;
  }
}


@media screen and (min-width: 1024px) and (max-width: 1420px) {
  .card {
    position: relative;
    display: block;
    width: 100%;
    margin-left: 0;
    padding: $font_xxlarge $font_verysmall;
    h1{
      font-size: $font_large;
    }
    &__content {
      float: center;
      text-align: center;
    }
    &__title {
      padding: 0;
      font-size: $font_large;
    }
    &__ul1 {
      font-size: $font_xlarge;
      width: 100%;
      @include marpad;
      @include listnone;
      padding: $font_xlarge $font_xxlarge 0 $font_xxlarge;
    }
  }
}
