@import "../../../../../styles/mixins.scss";
@import "../../../../../styles//variables.scss";

.card-container {
  padding: $font_large 0;
}
.card {
  display: flex;
  margin: 4rem 0;
  max-width: 100%;
  position: relative;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  background-size: cover;
  margin-top: $font_button;
  padding: $font_xxlarge;
  box-shadow: 0 0px 4px 0 rgba(0, 0, 0, 10%);
  background-color: $color_white6;
  &__title {
    font-size: $font_large;
    float: center;
    text-align: center;
    text-decoration: none !important;
    cursor: pointer !important;
  }
  &__main-content{
    display: flex;
    position: relative;
    justify-content: space-evenly;
    flex-direction: column;
    margin-left: 2rem;
    height: 250px;
    &__category{
      margin-top: -1rem;
      font-size: 18px;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: 500;
      text-decoration: none !important;
    }
    h1{
font-size: 2.5rem;
font-weight: bold;
letter-spacing: 1px;
    }
    .read-more {
      text-align: left;
      font-size: $font_small;
    }
  }
  span {
    margin-left: 0;
  }
  &__image {
    height: 250px;
    width: 250px;
  }
  &__ul1 {
    font-family: $monstserrat_regular;
    padding-top: $font_large;
    padding-left: 0;
    @include flexbetween;
    font-size:1.4rem;
    @include listnone;
  }
}



@media screen and (min-width: 320px) and (max-width: 760px) {
  .card-container {
    padding: 0;
  }
  .card {
    width: 100%;
    transform: translate(0, 0);
    position: relative;
    display: block;
    margin-left: 0;
    padding: $font_large$font_verysmall;
    @include allcenter;
    &__main-content{
      &__category{
        margin-top: 0;
      }
    }
    h1{
      font-size: $font_medium;
    }
    &__image {
      height: 150px;
    }
    &__content {
      padding: 0;
      font-size: $font_small;
    }
    &__ul1 {
      font-family: "Montserrat Regular";
      @include flexbetween;
      font-size: $font_small;
      padding-left: 0;
      margin-left: 0;
      @include listnone;
    }
    &__title {
      @include textnone;
      font-size: $font_button;
    }
  }
.read-more{
  font-size: $font_xsmall;
  padding-left: $font_xverysmall;
}
}

@media screen and (min-width: 768px) and (max-width: 1020px) {
  .card-container {
    padding: 0;
  }
  .card {
    position: relative;
    display: block;
    @include allcenter;
    margin-left: 0;
    padding: $font_large $font_verysmall;
    h1 {
      font-size: $font_large;
    }
    &__title {
      @include textnone;
      padding: 0;
      font-size: $font_button;
    }
    &__content {
      padding: 0;
      font-size: $font_small;
    }
    &__image{
      max-height: 150px;
    }
    &__ul1 {
      font-family: "Montserrat Regular";
      font-size: 1.4rem;
      display: flex;
      padding: 0 $font_xxlarge 0 $font_xxlarge;
      @include listnone;
    }
  }
  .read-more{
    font-size: $font_medium;
    padding-left: $font_xxsmall;
  }
}


@media screen and (min-width: 1024px) and (max-width: 1420px) {
  .card {

    h1{
      font-size: $font_medium;
    }
    &__content {
      float: center;
      text-align: center;
    }
    &__title {
      padding: 0;
      font-size: $font_large;
    }
    &__ul1 {
      font-size: 1.4rem;
      width: 100%;
      @include marpad;
      @include listnone;
    }
  }
}
