@import "../../../../../styles/mixins.scss";
@import "../../../../../styles//variables.scss";

.cards {
  position: relative;
  @include flexrow;
  max-width: 100%;
  justify-content: space-around;
  background-size: cover;
  margin-top: $font_button;
  padding: $font_xxlarge;
  border-radius: $font_large;
  box-shadow: 0 0px 4px 0 rgba(0, 0, 0, 10%);
  background-color: $color_white6;
}
.card-container {
  padding: $font_large 0;
}
.card-image {
  width: 30%;
}
.post-title {
  text-align: center;
  text-decoration: none !important;
  cursor: pointer !important;
}
.card-content {
  text-align: center;
  font-size: $font_large;
  font-family: $monstserrat_regular;
  h1 {
    font-size: $font_large;
  }
}
.card-content1 {
  text-align: end;
  position: absolute;
  padding-left: 46%;
  font-size: $font_button;
  font-family: $monstserrat_regular;
}
.main-ul1 {
  font-family: $monstserrat_regular;
  padding-top: $font_xxlarge;
  @include flexbetween;
  font-size: $font_medium;
  // padding-top: 2.4rem;
  // margin-left: $font_xxlarge;
  @include listnone;
}

.lead1 {
  font-size: $font_large;
}

.padding-class {
  text-align: center;
  h5 {
    font-size: $font_xxsmall
  }
}
.profile-img {
  border-radius: 45%;
}
.card-content h5 {
  padding: $font_large 0 0 $font_verysmall;
  color: $blue1;
}
.read-more {
  text-align: left;
  font-size: $font_small;
}
#read-more {
  color: $blue1;
  cursor: pointer;
}

@media screen and (min-width: 320px) and (max-width: 760px) {
  .cards {
    width: 100%;
    transform: translate(0, 0);
    position: relative;
    margin-left: 0;
    padding: $font_large$font_verysmall;
  }
  .card-content {
    padding: 0;
    font-size: $font_small;
  }
  .main-ul1 {
    font-family: "Montserrat Regular";
    padding-top: $font_verysmall;
    @include flexbetween;
    font-size: $font_verysmall;
    padding-left: 0;
    margin-left: 0;
    @include listnone;
  }
  .lead1 {
    padding-left: $font_xverysmall;
  }
  .card-container {
    padding: 0;
  }
  .post-title {
    @include textnone;
    padding: $font_verysmall;
    font-size: $font_button;
  }
  .card-content1 {
    @include displaynone;
  }
}

@media screen and (min-width: 768px) and (max-width: 1020px) {
  .cards {
    position: relative;
    margin-left: 0;
    padding: $font_large $font_verysmall
  }
  .card-content {
    padding: 0;
    font-size: $font_small
    h1 {
      font-size: $font_medium;
    }
  }
  .main-ul1 {
    font-family: "Montserrat Regular";
    font-size: $font_verysmall;
    display: flex;
    @include marpad;
    @include listnone;
  }
  .lead1 {
    padding-left: $font_large;
    font-size: $font_medium;
  }
  .card-container {
    padding: 0;
  }
  .post-title {
    @include textnone;
    padding: 0;
    font-size: $font_button;
  }
  .card-content1 {
    @include displaynone;
    font-size: $font_small;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1420px) {
  .cards {
    position: relative;
    display: flex;
    width: 100%;
    margin-left: 0;
    padding: $font_xxlarge $font_verysmall;
  }
  .card-content {
    padding-left: 0;
    h1 {
      font-size: $font_large
    }
    p {
      font-size: $font_medium;
    }
  }
  .main-content {
    float: center;
    text-align: center;
  }
  .main-ul1 {
    font-size: $font_small;
    width: 100%;
    @include marpad;
    @include listnone;
  }
  .post-title {
    padding: 0;
    font-size: $font_large;
  }
  .lead1 {
    padding-left: 0;
  }
  .padding-class {
    float: right;
    text-align: right;
    align-items: end;
    .profile-img {
      float: center;
      text-align: center;
    }
    h5 {
      font-size: $font_verysmall;
      @include marpad;
    }
  }
}
