@import "styles/variables.scss";
@import "styles/mixins.scss";
@import "../../components/tableMenu/index.scss";

.common-table {
  cursor: pointer;
  font-family: $monstserrat_regular;
  font-size: $font_medium;
  line-height: 1.21;
  padding: 1.6rem;

  &__toggle {
    margin-bottom: 2rem;
    margin-top: 1rem;
    font-family: $monstserrat_semibold;
    font-size: $font_medium;
    width: 30%;

    &--options {
      font-family: $monstserrat_regular;
      font-size: $font_medium;
    }
  }

  &__export-btn {
    position: relative;
    float: right;
    cursor: pointer;
    padding: 1rem 1.3rem;
    margin-top: 0.7rem;
    border: none;
    background: transparent;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAACQUlEQVRIS+2Vz2sTURDHZ2bfJgER0e5K8WIEwR+nCuJJISBCD14EwWsK9aYgePHQbF42Aa+CFT0UDZ4Ef9Czp+g/YNCDCApSRDSbtAGR1s3bN7Khm+5mAyaBgoJ7Wmbf+35m5vt2HsIuP7jL+vD3AeyyP+dVMs1xK5+4AtvpNTzXLPwHgFX2TxPjxXgriFQ90KLOBJI0JNokSCx/ldgebt1ID45e52x3v3pFAGVN8CvapEA0Ta1WDVJFBSIfxUnziQDpTKciFsYCHHR6Epi/taqZB+EGu+Sf8qqZN/33bZPzknM/lH+kU8u+D+Mzpd5TNOBeW5qNOCRVgbW0dQyJ7nuueR4AuS+6pFaQ+EvLNWUI2ENi/qf2XyAbT1pV8ThcY5X5ELJa3bchzn28i4OqUwDb8V8S883v1ey7QSaSaUYFKwbxmgaYR9DrwPjMq2YexrO1S/41RLTCRKJ4AmCX/CIgHvdc81bqnG9DiIIiMC4Oi/fXSyZbqwbr4Gq7lvsQhhKAGWerhWg8IobNOGCQUSgA6qwnzdfh91m5mddaFONrGfikBqSOa15OAQ44vSYR3Ihv0BrurLvm3Kg/15K9AioussB6wlgNMvrbky0aMQZCTxSaixsVXBuG2I6/AICznmveTngR0xkDoK4AcBkQniNDMBBC2KsZL5FWF1q13KepAVGvVSAOg7HjGQLoHoi3XYnddGU7A/GPFYw7NceqwHL8zwRJw6YBMEBhpMnhqZhGMDV/mLvRpTTxhTNpAv8+4DdMgQkoILVAwQAAAABJRU5ErkJggg==);
  }

  &__export-btn--options {
    font-family: "Montserrat Regular";
    line-height: 1.21;
    border: 1px solid $grey8;
    border-width: 0 0 1px 0;
    font-size: 1.2rem;
    padding: 4px 6px;
    width: 100%;
    cursor: pointer;
    text-align: center;
  }
  &__export-btn--options:hover {
    background: $color_white-primary;
  }

  &__dots {
    font-size: $font_button;
    position: relative;
    border: none;
    background: none;
    cursor: pointer;
    @include flexbox;
    z-index: 2;
  }

  &__dots-parent {
    position: relative;
  }

  &__cross-btn {
    color: $dark_shadow;
    // position: absolute;
    // right: -17px;
    // top: -8px;
    z-index: 4;
    margin-left: 0.5rem;
  }

  &__popup {
    @include absoluteCenter;
    width: 50%;
    height: 40%;
    background-color: $color_white-primary;
    padding: 2rem;
    overflow: auto;

    &__container {
      height: 100%;
      width: 100%;
      position: relative;
    }

    &__header {
      margin-top: 2rem;
    }
  }

  &__range {
    @include flexbox;
    font-size: $font_small;
  }

  &__range:last-child {
    margin-top: 0.5rem;
  }

  &__label {
    margin-right: 0.5rem;
    width: 70px;
  }
}

.dt-datetime {
  position: absolute;
  background-color: $color_white-primary;
  z-index: 2050;
  border: 1px solid #ccc;
  // box-shadow: 0 5px 1.5rem -5px rgb(0 0 0 / 50%);
  padding: 0 20px 6px 20px;
  width: 275px;
}

.dt-buttons {
  position: relative !important;
  text-align: right;
  width: 13%;
  float: right;
}

.dt-button-collection {
  top: -46px !important;
  left: 0px !important;
  width: 90px;
  overflow: hidden;
  box-shadow: 3px 3px 5px $dark_shadow8;
  box-sizing: border-box;
  position: absolute;
  margin: 0.2rem 0 0;
  text-align: right;
  background-color: $color_white5;
  border-radius: 0.25rem;
}

tfoot input {
  width: 100%;
  padding: 3px;
  box-sizing: border-box;
}

table thead .sorting_desc:after {
  opacity: 0 !important;
}

table.dataTable thead .sorting_desc:after {
  opacity: 0 !important;
}

table.dataTable thead .sorting:after {
  opacity: 0 !important;
}

table.dataTable thead th,
table.dataTable tfoot th {
  font-family: $monstserrat_semibold;
  font-size: $font_medium;
  line-height: 1.41;
  width: 0px !important;
}

.noExport {
  width: 0px !important;
}

// tfoot {
//   display: table-header-group !important;
// }

table.dataTable tbody th,
table.dataTable tbody td {
  font-size: $font_medium;
  line-height: 1.41;
}

.css-1qprcsu-option {
  background-color: $color_white2 !important;
  border-bottom: 1px solid $color_white3;
  cursor: pointer !important;
}

.css-1vr111p-option {
  border-bottom: 1px solid $color_white3;
  cursor: pointer !important;
}

.loader {
  @include absoluteCenter;
  border: 4px solid $gallery;
  border-radius: 50%;
  border-top: 4px solid $dark2;
  width: 4rem;
  height: 4rem;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

.dataTables_wrapper .dataTables_info {
  font-family: $monstserrat_regular;
  font-size: $font_medium;
  line-height: 1.41;
  color: $dark_shadow;
}
.dataTables_wrapper .dataTables_length {
  font-family: $monstserrat_regular;
  font-size: $font_medium;
  line-height: 1.41;
  color: $dark_shadow;
}
.dataTables_wrapper .dataTables_filter {
  font-family: $monstserrat_regular;
  font-size: $font_medium;
  line-height: 1.41;
  color: $dark_shadow;
}
.dataTables_wrapper .dataTables_processing {
  font-family: $monstserrat_regular;
  font-size: $font_medium;
  line-height: 1.41;
  color: $dark_shadow;
}
.dataTables_wrapper .dataTables_paginate {
  font-family: $monstserrat_regular;
  font-size: $font_medium;
  line-height: 1.41;
  color: $dark_shadow;
}

.dt_col_hide {
  display: none;
}

.fake-link {
  color: $blue;
  text-decoration: underline;
  cursor: pointer;
}

@media only screen and (max-width: 576px) {
  .dt-button-collection {
    left: 622.25px !important;
  }
}
