@import "../../../../../styles/mixins.scss";
@import "../../../../../styles//variables.scss";

html,
body {
  width: auto !important;
  overflow-x: hidden !important;
}

.blog {
  width: 100%;
  &__container {
    display: block;
    width: 90%;
    align-items: center;
  }
  &__post {
    text-align: center;
    margin: 2rem;

    &__tag {
      text-align: center;
      display: block;
      margin-left: 0 !important;
      padding: 1rem 0;
    }
  }
  &__img {
    width: 100%;
    margin-left: 2.5em;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  &__text {
    width: 80%;
    margin: 2rem 3rem;
  }
}

.blog-post-text {
  width: 80%;
}
.chart-wrap {
  margin: 2rem;
}

.comment-box {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.comment-wrap {
  box-shadow: 0 0px 4px 0 rgba(0, 0, 0, 10%);
  width: 100%;
  // height: 492px;
  max-height: auto;
  margin: 20px;
  background-color: #f3f7f9;
}
.comment-button {
  padding: 10px 14px;
  margin: 5px;
}
.comment {
  width: 100%;
  padding: 5px;
  font-size: 1.4rem;
  font-family: $monstserrat_regular;
}
.user-name {
  width: 100%;
  padding: 5px;
  font-size: 1.4rem;
  font-family: $monstserrat_regular;
}
.user-email {
  width: 100%;
  padding: 5px;
  font-size: 1.4rem;
  font-family: $monstserrat_regular;
}
.comment-items {
  padding: 5px 20px;
  display: flex;
  align-items: left;
  flex-direction: column;
}
.comment-title {
  margin: 10px;
}
