@import "../../../styles/mixins.scss";
@import "../../../styles/variables.scss";

.fa-sign-out {
  font-size: 1.8rem;
  padding-left: 10px;
  cursor: pointer;
  font-weight: 600;
}

.tippy {
  width: 100px;
  // margin-top: 18px;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: black;
  color: white;
  font-size: medium;
}
