@import "../../../../styles/variables.scss";
@import "../../../../styles/mixins.scss";

.post-container {
  width: 100% !important;
  padding: 3rem 5rem !important;
}
.post-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.blogpost {
  width: 60%;
}
.post-sidebar {
  width: 40%;
  // padding-top: 10.3rem;
}
.post-read-button {
  text-align: center;
  width: 100%;
  padding: 30px;
  position: relative;
}
.read-next {
  padding: 10px 14px;
  margin-top: 3rem;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 10%);
  // z-index: -1;
  position: relative;
  cursor: pointer;
}
.read-next:active {
  box-shadow: inset -6px -6px 6px 0 $primary_blue,
    inset 6px 6px 8px 0 $primary_blue, inset 6px 6px 8px 0 $primary_blue,
    inset -6px -6px 6px 0 $primary_blue !important;
  border-style: solid;
  border-width: 1px;
  border-image-slice: 1;
  background: linear-gradient(
    312deg,
    $primary_blue 44%,
    $primary_blue,
    $primary_blue
  ) !important;
  background-origin: border-box;
}
@media screen and (min-width: 320px) and (max-width: 760px) {
  .post-wrapper {
    display: block;
    width: 100%;
  }
  .blogpost {
    width: 100%;
  }
  .post-sidebar {
    width: 100%;
  }
}
