@import "../../../../styles/variables.scss";
@import "../../../../styles/mixins.scss";

.post-container {
  width: 100% !important;
  padding: $font_xxlarge $font_top8 !important;
}
.post-wrapper {
  @include flexrow;
  justify-content: space-between;
  width: 100%;
}
.blogpost {
  width: 60%;
}
.post-sidebar {
  width: 40%;
}
.post-read-button {
  text-align: center;
  width: 100%;
  padding: $font_xxlarge;
  position: relative;
}
.read-next {
  padding: $font_verysmall $font_medium;
  margin-top: $font_xxlarge;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 10%);
  position: relative;
  cursor: pointer;
}
.read-next:active {
  box-shadow: inset -6px -6px 6px 0 $blue1,
    inset 6px 6px 8px 0 $blue1, inset 6px 6px 8px 0 $blue1,
    inset -6px -6px 6px 0 $blue1 !important;
  border-style: solid;
  border-width: 1px;
  border-image-slice: 1;
  background: linear-gradient(
    312deg,
    $blue1 44%,
    $blue1,
    $blue1
  ) !important;
  background-origin: border-box;
}
@media screen and (min-width: 320px) and (max-width: 760px) {
  .post-wrapper {
    display: block;
    width: 100%;
  }
  .blogpost {
    width: 100%;
  }
  .post-sidebar {
    width: 100%;
  }
}
