@import "styles/variables.scss";
@import "styles/mixins.scss";

.sidebar {
  width: 20%;
  position: absolute;
  height: calc(100vh - 75px);
  overflow: auto;
  background: $dark2;
  color: $color-white-primary;

  &__logo {
    width: 100%;
    margin: 2rem 0 0 0;
  }
  &__content {
    border-radius: 8px;
    background-color: $dark2;
    box-shadow: 6px 6px 9px 0 $dark_shadow4, -6px -6px 8px 0 $white_shadow2, inset 4px 4px 8px 0 $white_shadow5,
      inset -3px -3px 8px 0 $dark_shadow9;
  }
  &__tab {
    @include flexbox;
    justify-content: space-between;
    padding: 1rem 0.5rem 1rem 1rem;
    background: $dark2;
    cursor: pointer;
    border-bottom: 1px solid $dark_shadow8;
    height: 6rem;
  }
  &__border {
    width: 100%;
    height: 1px;
    opacity: 0.3;
    background-color: $dark_shadow;
  }
  &__none {
    border: none;
  }
  &__mr1 {
    margin: 1.5rem 1.5rem 0;
  }
  &__mr15 {
    margin: 0 1.5rem 1.5rem;
  }
  &__pad2 {
    padding: 1rem 0 1rem 2rem;
  }
  &__subTab-content {
    position: relative;
    margin-top: 8px;
    border: 0.5px solid linear-gradient(-45deg, $grey3, $grey4, $grey5);
    margin-bottom: 5rem;
  }
  &__text {
    font-family: $monstserrat_regular;
    font-size: $font_regular;
    opacity: 0.97;
  }
  &__width8 {
    width: 9rem;
  }
  &__activeTab {
    box-shadow: inset -6px -6px 6px 0 $dark6, inset 6px 6px 8px 0 $dark_shadow10, inset 6px 6px 8px 0 $dark_shadow10,
      inset -6px -6px 6px 0 $dark6;
    border-style: solid;
    border-width: 1px;
    border-image-source: linear-gradient(119deg, $shadow2 0%, $shadow3 98%);
    border-image-slice: 1;
    background: linear-gradient(to bottom, $dark2, $dark2), linear-gradient(119deg, $shadow2 0%, $shadow3 98%);
    background-origin: border-box;
    background-clip: content-box, border-box;
  }
  &__arrow-box {
    width: 2.8rem;
    height: 2.8rem;
    background: linear-gradient(-45deg, $dark3, $grey6);
    box-shadow: 4px 4px 9px 0 $dark_shadow6, -4px -4px 11px 0 $grey4, inset 1px 1px 0 0 $white_shadow3;
    border-radius: 50%;
    @include flexCenter;
  }
  &__arrow {
    border: solid $color-white-primary;
    border-width: 0 2px 2px 0;
    padding: 3px;
  }
  &__down-arrow {
    transform: rotate(45deg);
    margin-bottom: 2px;
  }
  &__up-arrow {
    transform: rotate(-135deg);
    margin-top: 2px;
  }
}

@media only screen and (max-width: 576px) {
  .sidebar {
    &__tab {
      padding: 0.8rem;
    }
    &__text {
      font-size: $font_verysmall;
      font-family: $monstserrat_light;
    }
    &__mr1 {
      margin: 0.8rem 0.8rem 0;
    }
    &__mr15 {
      margin: 0 0.8rem 0.8rem;
    }
    &__pad2 {
      padding: 0.8rem 0 0.8rem 1.5rem;
    }
    &__tab {
      height: 5rem;
    }
  }
}
