@import "styles/variables.scss";
@import "styles/mixins.scss";

.customer {
    &__wrapper {
        position: relative;
    }
    &__table {
        margin: 0 4rem 0 19rem;
    }
    &__sidebar{
        width: 20%;
    }
}

@media only screen and (max-width: 576px) {
    .customer {
        &__table {
            margin: 0 2rem 0 8rem;
        }
    }
}
